<!DOCTYPE html>
<html>
  <head>
    <title>Pagina de ayuda</title>
  </head>
  <body>
    <h1>Ayuda</h1>
    <p>
      <div class="panel panel-info">
      	<div class="panel panel-primary">
      	<div class="panel-heading">
      		Como subir imagenes?
      	</div>
      	</div>
      	<div class="panel-heading">
      		Siga las instrucciones para agregar imagenes a tus publicaciones
      	</div>
  		<ul class="list-group">
  			<li class="list-group-item"> 
  				1) Ingresar a 
  				<a href="http://imgur.com/" class="btn-default">
  					Imgur.com
  				</a>
  			</li>
  			<li class="list-group-item">  
  				2) Seleccionar 
  				<strong>
  					Upload images
  				</strong>
  				en la parte superior izquierda de la pantalla y luego en la opcion
  				<strong>
  					Browse your computer
  				</strong>
  			</li>
  			<li class="list-group-item">  
  				3) Ubicar la imagen deseada y seleccionarla
  			</li>
  			<li class="list-group-item">  
  				4) Hacer click en 
  				<strong>
  					Start Upload
  				</strong>
  			</li>
  			<li class="list-group-item">  
  				5) Esperar que finalice el proceso de carga y luego dar click derecho sobre la foto y seleccionar 
  				<strong>
  					Copiar URL de la imagen
  				</strong>
  			</li>
  			<li class="list-group-item">  
  				6) Ahora ya posees la URL de la imagen para tu subasta, solo debes crear una subasta y completar el campo de 
  				<strong>
  					URL de la imagen
  				</strong>
  				haciendo click derecho y seleccionando la opcion
  				<strong>
  					Pegar
  				</strong>
  				dentro del campo correspondiente
  			</li>
  		</ul>


		<div class="panel panel-primary">
      	<div class="panel-heading">
      		Quienes somos?
      	</div>
      	</div>
      	<div class="panel-heading">
      		BestNid
      	</div>
  		<ul class="list-group">
  			<li class="list-group-item"> 
  				En edicion...
  			</li>
  		</ul>


		<div class="panel panel-primary">
      	<div class="panel-heading">
      		Algo mas de informacion
      	</div>
      	</div>
      	<div class="panel-heading">
      		Informacion
      	</div>
  		<ul class="list-group">
  			<li class="list-group-item"> 
  				En edicion...
  			</li>
  		</ul>


      </div>
    </p>
    <form>
		<div class "btn btn-primary ">
  			<input type="button" value="Atras" name="Back2" onclick="history.back()" />
  		</div>
 	</form>
  </body>
</html>