<!DOCTYPE html>
<html>
  <head>
    <title>Página de ayuda</title>
  </head>
  <body>
    <h1>Ayuda</h1>
    <p>
      <div class="panel panel-info">
      	<div class="panel panel-primary">
      	<div class="panel-heading">
      		¿Cómo subir imágenes?
      	</div>
      	</div>
      	<div class="panel-heading">
      		Siga las instrucciones para agregar imágenes a tus publicaciones
      	</div>
  		<ul class="list-group">
  			<li class="list-group-item"> 
  				1) Ingresar a 
  				<a href="http://upload.photobox.com/es/#computer.com" class="text-primary">
  					Photobox.com
  				</a>
  			</li>
  			<li class="list-group-item">  
  				2) Seleccionar 
  				<strong>
  					Obtener fotos desde el ordenador
  				</strong>
  			</li>
  			<li class="list-group-item">  
  				3) Ubicar la imagen deseada y seleccionarla
  			</li>
  			<li class="list-group-item">  
  				4) Hacer click en 
  				<strong>
  					Iniciar la carga
  				</strong>
  			</li>
  			<li class="list-group-item">  
  				5) Esperar que finalice el proceso de carga y luego seleccionar 
  				<strong>
  					Ver mis fotos en PhotoBox
  				</strong>
  			</li>
  			<li class="list-group-item">  
  				6) Abrir la foto deseada, dar click derecho sobre la foto y seleccionar 
  				<strong>
  					Copiar URL de la imagen
  				</strong>
  			</li>
  			<li class="list-group-item">  
  				7) Ahora ya posees la URL de la imagen para tu subasta, solo debes crear una subasta y completar el campo de 
  				<strong>
  					URL de la imagen
  				</strong>
  				haciendo click derecho y seleccionando la opción
  				<strong>
  					Pegar
  				</strong>
  				dentro del campo correspondiente
  			</li>
  		</ul>
      </div>
    </p>
  </body>
</html>