<h1>Ofertas</h1>
<% if @control.size == 0 %>
	<%= render 'form' %>
	<%=link_to 'Cancelar', @producto %>
<% else %>
	<h3> Ya ha realizado una oferta para este producto</h3>
	<form>
<div class "btn btn-primary ">
  <input type="button" value="Volver atras" name="Back2" onclick="history.back()" />
  </div>
 </form>
<% end %>

