<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Mail enviado desde <%= @contacto.user_email %></h1>
    <p>
      El usuario dijo:
      <%= @contacto.contenido %>.<br>
    </p>
    </body>
</html>