<h1>Editando producto</h1>
<%= render 'form' %>

<%= link_to 'Mostrar producto', @producto %> |
<form>
<div class "btn btn-primary ">
  <input type="button" value="Atras" name="Back2" onclick="history.back()" />
  </div>
 </form>