@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";


.label-domicile {
    font-size: 0.8em;
    height: 10px;
}
.form-domicile {
    font-size: 0.9em;
    height: 30px;
}
.label-creditcard {
    font-size: 0.8em;
    height: 10px;
}
.form-creditcard {
    font-size: 0.9em;
    height: 30px;
} 
/* Set the fixed height of the footer here */

  .footer{
    height: 60px;
    background-color: #f9f9f9;
  }

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
.jumbotron{
  background-color: #B0C4DE;
}
#header{
    box-shadow: 10px 10px 5px #888888;
}
#text-sombreado{
/*http://www.w3schools.com/css/tryit.asp?filename=trycss3_text-shadow_tut*/
    text-shadow: 2px 2px 2px #999;
}

img.test {
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

img.test:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
div.subasta {
  border: 2px solid #a1a1a1;
    padding: 10px 20px; 
    background:  transparent;
    width: 500px;
    border-radius: 10px;
    margin: 20px;
  border-style: ridge;
}