@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 120px;
}

header {
  .navbar-default .navbar-brand {
    color: #EE1922;
    font-size: 2em;
    height: 100px;
  }
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.label-domicile {
    font-size: 0.8em;
    height: 10px;
}
.form-domicile {
    font-size: 0.9em;
    height: 30px;
}
.label-creditcard {
    font-size: 0.8em;
    height: 10px;
}
.form-creditcard {
    font-size: 0.9em;
    height: 30px;
} 

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */

  .footer{
    height: 60px;
    background-color: #f9f9f9;
  }

