<h1>Categorías</h1>

<%= link_to 'Crear categoría', new_category_path, class: 'btn btn-default' %>
<% if @categories.size == 0 %>
  <tr> <td colspan="3"> No hay categorías </td> </tr>
<% else %>
  <table class="table">
  <tr>
    <th> Nombre </th>
    <th> Acciones </th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td> <%= link_to category.name, category %> </td>
      <td>
        <%= link_to "Editar", edit_category_path(category), class: 'btn btn-info btn-sm' %>
        <%= link_to "Eliminar", category, method: :delete, class: 'btn btn-danger btn-sm',data:{ confirm:'¿Está seguro de que desea eliminar la categoría ' + category.name + '?'} %>
      </td>
    </tr>
  <% end %>
<% end %>
</table>