<p>Hola <%= @resource.email %>!</p>

<%generated_password = Devise.friendly_token.first(8)%>
<%@resource.update!(:password => generated_password)%>

Hemos reestablecido tu contraseña, tu nueva contraseña es <%=@resource.password %>