<div class="row">
        <% @moneys.each do |v| %> 
      <div class="row container subasta" >
      <div class="row">
		<%@recaudacion=@recaudacion+v.cash%>
          <dt>usuario: </dt>
          <dd><%= v.user %></dd>
          <dt>producto: </dt>
          <dd><%= v.product %></dd>
          <dt>Ganancia: </dt>
          <dd><%= 0.3 *v.cash %></dd>

      </div><!-- Cierre row botones -->
    </div><!-- Cierre div de continer subasta  -->
    <% end %><!-- End del .each -->

	<%@recaudacion=@recaudacion*0.3%>

La recaudacion es de $<%=@recaudacion%>
</div>
