<footer class="footer">
  <small>
    Sistema de subastas Bestnid "Hecho con el corazón".
  </small>
  <nav>
    <ul>
      <li><%= link_to "Ayuda", ayuda_path,class:"btn-link" %>
      <li><%= link_to "Contactar al administrador", contacto_path,class:"btn-link" %></li>
    </ul>
  </nav>
</footer>